*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Evita barra de desplazamiento global */
    background-color: #3f3f3f;
}

#ContenedorPrincipal {
    display: flex;
    flex-direction: column;
    width: 100vw;  /* Ocupa todo el ancho de la ventana */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    background-color: #3f3f3f;
}

#ContenedorBotones {
    flex: 0 0 auto;
    background-color: #c4c4c4;
    margin-top: 1%;
    width: 80%;
    margin: auto;
    height: 10%;
    border-radius: 15px; /* Ajusta el valor según el redondeado deseado */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra interna */
}

#ContenedorCarpetas {
    flex: 1 1 auto;
    width: 80%;
    margin: auto;
    overflow-y: auto;
    padding: 10px;
    margin-top: 3%;
    background-color: #929292;
    border-radius: 15px; /* Ajusta el valor según el redondeado deseado */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra interna */
}
