<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Empleado</title>
</head>
<body>
  <app-modal-archivos [isOpen]="isModalOpen" [archivoSeleccionado]="archivoSeleccionado" (close)="cerrarModal()"></app-modal-archivos>
  <app-menu-click-izquierdo #contextMenu [idPadre]="padre"></app-menu-click-izquierdo>
  
  <div id="ContenedorPrincipal">
    <div id="ContenedorBotones">
      <div [ngClass]="{ 'bloqueado': root === padre }" id="ContenedorRetroceder" (click)="bloquearRetroceder()">
        <img src="assets/Retroceder.png" alt="atras" style="width: 100%;">
      </div>
    </div>
    
    <!-- Click derecho para abrir el menú de contenedores -->
    <div id="ContenedorCarpetas" (contextmenu)="onRightClickContainer($event)">
      <div *ngFor="let archivo of archivos" 
           (click)="abrirModal(archivo)" 
           class="carpeta" 
           (contextmenu)="onRightClickFolder($event, archivo)">
        <img [src]="getIconPath(archivo.Extension)" alt="Icono" class="iconimage">
        <span>{{ archivo.Nombre }}</span>
      </div>
    </div>
  </div>
</body>
</html>